---
layout: 'frontpage'
title: 'Logic-ex user guide'
---

//- for the get_unit function
include ../../fragments/lecture_mixins

html 
  body

    .hero-unit
      h1 Logic-ex user guide
      p --- by s.
        a(href="http://butterfill.com") butterfill
        span @warwick.ac.uk
      p Some notes on using logic-ex to complete logic exercises (writing proofs, creating counterexamples, ...).

    .row
      h2 Start here:
      .span12
        h3 
          a(href='/units/unit_016.html?notes=true') Logic-Ex
        p There are logic exercises associated with each lecture. This is how to complete them ...
      
    .row
      h2 For students:
      //- TODO: sort by unit number
      .span12
        - var unit_num
        each unit in getCollection("units").toJSON()
          if unit.tags && unit.tags.length && unit.tags.length > 0
            if unit.tags.indexOf('logic-ex') != -1 && unit.tags.indexOf('tutors') == -1
              - unit_num = unit.basename.substr(5)
              //- don’t include the unit mentioned at the start
              if unit_num != '016'
                h3 
                  a(href="/units/#{unit.outFilename}?notes=true") #{unit.title}
                if unit.tags && unit.tags.length && unit.tags.length > 0
                  p(style="text-align:right;margin:0;padding:0;margin-top:-1.5em;") 
                    each t in unit.tags
                      if t != 'logic-ex'
                        span.label.label-info #{t}
                        | 
                p #{unit.description}

    .row
      h2 For tutors:
      .span12
        - var unit_num
        each unit in getCollection("units").toJSON()
          if unit.tags && unit.tags.length && unit.tags.length > 0
            if unit.tags.indexOf('logic-ex') != -1 && unit.tags.indexOf('tutors') != -1
              - unit_num = unit.basename.substr(5)
              h3 
                a(href="/units/#{unit.outFilename}?notes=true") #{unit.title}
              if unit.tags && unit.tags.length && unit.tags.length > 0
                p(style="text-align:right;margin:0;padding:0;margin-top:-1.5em;") 
                  each t in unit.tags
                    if t != 'logic-ex'
                      span.label.label-info #{t}
                      | 
              p #{unit.description}
